@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,700&display=swap');
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

body{
	font-family: "Larsseit";
	font-weight: 400;
}

.content{
	font-family: "Roboto";
	font-weight: 700;
}
h1, span{
	font-family: "Larsseit";
	font-weight: 700;
}
span{
	color: darkred;
}

span.first-part{
	color: pink;
}

p{
	color: darkblue;
}
p.content{
	color: maroon;
}
.content.href{
	color: black;
}
h2{
	color: darkslategrey;
}
/* ? Не розумію, чого не працює, адже ми звужуємо пошук
.second-part+h2{
	color: palevioletred;
}
 */

#first-part{
	color: yellowgreen;
}
.first-part{
	color: green;
}
.first-part,
.text{
	color: grey;
}
.first-part.text{
	color: green;
}
.fourth-part .orange{
	color: darkorange;
}
a{
	color:aqua
}
mark{
	color:brown;
}
.first-part >p{
	color: black;
}
/* ? не розумію, чому не працює,хіба ми не звужуємо запит? 
.second-part~p{
	color: pink;
}
 */
 /* ?Не працює :((
	.fourth-part{
	color: whitesmoke !important;
} 
*/
